<?xml version="1.0" encoding="utf-8" ?>
<settings>

    <!--value bắt buộc phải là giá trị binary. Ví dụ: 1; 2; 4; 8; 16;...-->
    <position>
      <add name="Header - Main Menu 1" value="1" resourcefile="" />
      <add name="Header - Main Menu 2" value="2" resourcefile="" />
      <add name="Header - Footer Menu 1" value="4" resourcefile="" />
      <add name="Header - Footer Menu 2" value="8" resourcefile="" />
      <add name="Khuyen mai - Danh mục sản phẩm" value="16" resourcefile="" />
      <add name="Thương Hiệu" value="32" resourcefile="" />
      <add name="Trang chủ - Sản phẩm âm thanh" value="64" resourcefile="" />
    </position>

</settings>