.home-product
	.row
		margin: 0
		.col-w-5
			padding: 0
			box-shadow: 0px 0px 0px 1px rgba(225,225,225,1)
.figure-product
	position: relative
	overflow: hidden
	.figure-image
		a
			+img-ratio(220/250,contain)
	&:hover
		.overlay-text
			transform: translateY(0)
	.overlay-text
		position: absolute
		top: 0
		left: 0
		bottom: 0
		right: 0
		background: rgba(#000000,.3 )
		display: flex
		align-items: flex-end
		transform: translateY(-100%)
		transition: .3s all  ease-in-out
		h2
			padding-left: 15px
			a
				color: #ffffff	
				font-size: r(12px)
				font-weight: 400
		.bottom-wrapper
			display: flex
			justify-content: space-between
			align-items: flex-end
			.btn-arrow
				min-width: 40px
				width: 40px
				height: 40px
				display: flex
				justify-content: center
				align-items: center
				background: $azure
				&:hover
					em
						transform: translateX(3px)
				em
					transition: .3s all  ease-in-out
					font-size: 18px
					color: #ffffff
	.figcaption
		position: absolute
		bottom: 15px
		left: 15px
		h2
			font-size: r(12px)
			font-weight: 400