setion.product-section.home-product
	.container-custom
		.container
			.card-title 
				.text SẢN PHẨM NỔI BẬT
			.row
				-for(i=0;i<15;i++)
					.col-w-5
						.figure-product
							.figure-image.zoom-in
								a(href="#")
									img(src="./img/product/2.png", alt="")
							.overlay-text
								.bottom-wrapper
									.title
										a(href="#")  Đồng hồ đo chênh áp ITEC Models 732.14, 762.14
									a(href="#").btn.btn-arrow
										em.mdi.mdi-arrow-right
							.figcaption
								.title Đồng hô áp suất ITC Model 133