section.hr-detail
    .container-custom
        .container
            .row
                .col-lg-9
                    .card-title
                        h1 NHÂN VIÊN KINH DOANH
                        time 03/04/2020
                    .card-body
                        table.table.table-striped
                            tbody
                                tr
                                    th(scope='row') Khu vực:
                                    |
                                    td TP.Hồ Chí Minh
                                |
                                tr
                                    th(scope='row') Số lượng:
                                    |
                                    td 02
                                |
                                tr
                                    th(scope='row') Hình thức:
                                    |
                                    td Toàn thời gian cố định
                                |
                                tr
                                    th(scope='row') Kinh nghiệm:
                                    |
                                    td 01 năm
                                |
                                tr
                                    th(scope='row') Trình độ:
                                    |
                                    td Cao đẵng trở lên
                                |
                                tr
                                    th(scope='row') Chức vụ:
                                    |
                                    td Nhân viên
                                |
                                tr
                                    th(scope='row') Giới tính:
                                    |
                                    td Không yêu cầu
                                |
                                tr
                                    th(scope='row') Độ tuổi:
                                    |
                                    td Dưới 35 
                                |
                                tr
                                    th(scope='row') Thử việc:
                                    |
                                    td 1-2 tháng(tùy theo năng lực)
                        h3 Mô tả công việc
                        ul 
                            li    
                                em.lnr.lnr-chevron-right
                                p Liên hệ với khách hàng dựa trên data có sẵn, giới thiệu, tứ vấn và thuyết phục khách hàng
                        ul 
                            li    
                                em.lnr.lnr-chevron-right
                                p Chăm sóc khách hàng, giải đáp những thắc mắc của khách hàng qua điện thoại... trong quá trình sử dụng dịch vụ
                        ul 
                            li    
                                em.lnr.lnr-chevron-right
                                p Liên quan, hỗ trợ với các bộ phận khác để thúc đẩy chất lượng làm việc với khách hàng.
                        ul 
                            li    
                                em.lnr.lnr-chevron-right
                                p Đề ra chiến lượt, lập kế hoạch kinh doanh, chương trình Pr-marketing tổng thể và cho dịch vụ thương mại điện tử đáp ứng nhu cầu kinh Doanh của công ty.
                        ul 
                            li    
                                em.lnr.lnr-chevron-right
                                p Tham gia triển khai và thực hóa chiến lượt, kế hoạch và chương trình đã được thống nhất và phê duyệt
                        ul 
                            li    
                                em.lnr.lnr-chevron-right
                                p Mở rộng phân phối và phát triển khách hàng tiềm năng
                        ul 
                            li    
                                em.lnr.lnr-chevron-right
                                p Nghiên cứu thị trường, tâm lý khách hàng để phát triển, xây dựng các ý tưởng Pr-marketing mới
                        ul 
                            li    
                                em.lnr.lnr-chevron-right
                                p Lập kế hoạch, kiểm tra việc thực hiện các chương trình quảng bá, khuyến mãi cụ thể dành cho khách hàng để hỗ trợ cho phát triển kinh doanh nhằm đạt được mục tiêu đề ra.
                        h3 Quyền lợi
                        ul 
                            li    
                                em.lnr.lnr-chevron-right
                                p Lương cố định và phụ cấp cơm trưa(từ 6 -12 triệu, thùy theo năng lực), lương không bao gồm tiền thưởng
                        ul 
                            li    
                                em.lnr.lnr-chevron-right 
                                p Tăng lương ít nhất 01 lần trong năm, mức tăng theo năng lực làm việc
                        ul 
                            li    
                                em.lnr.lnr-chevron-right
                                p Làm việc từ thứ 2-6(8h00 -12h00 và 13h00 -17h30)
                        ul 
                            li    
                                em.lnr.lnr-chevron-right
                                p Thưởng năm, thưởng nghỉ lễ 30/4,2/9,tết
                        ul 
                            li    
                                em.lnr.lnr-chevron-right
                                p Được thường xuyên đi du lịch trong và ngoài nước 
                        ul 
                            li    
                                em.lnr.lnr-chevron-right 
                                p Được tham gia BHXH, BHYT,... và các chế độ khác theo Bộ Luật Lao Động
                        ul 
                            li    
                                em.lnr.lnr-chevron-right
                                p Môi trường làm việc trẻ trung, hiện đại, năng động và chuyên nghiệp, cung cấp các phương tiện, công cụ chăm sóc khách hàng tốt nhất.
                        ul 
                            li    
                                em.lnr.lnr-chevron-right 
                                p Chưa có kinh nghiệm sẽ được đào tạo từ cơ bản đến chuyên sâu về Chăm sóc Khách Hàng, nâng cao kỹ năng tư vấn, tham gia các khóa học phát triển bản thân
                        ul 
                            li    
                                em.lnr.lnr-chevron-right
                                p Cơ hội thăng tiến lên Trưởng nhóm kinh doanh với thu nhập hấp dẫn
                        h3 Yêu cầu công việc 
                        ul 
                            li    
                                em.lnr.lnr-chevron-right 
                                p Có hiểu biết về Thương mại điện tử nói chung, đặc biệt online marketing.
                        ul 
                            li    
                                em.lnr.lnr-chevron-right 
                                p Có khả năng xây dựng và chăm sóc các mối quan hệ với khách hàng và nội bộ công ty
                        ul 
                            li    
                                em.lnr.lnr-chevron-right 
                                p Thành thạo tin học văn phòng, internet và các công cụ mạng.
                        ul 
                            li    
                                em.lnr.lnr-chevron-right 
                                p Có chính kiến, khả năng tự quyết và nghiên cứu, dự báo, phân tích, tổng hợp tốt.
                        ul 
                            li    
                                em.lnr.lnr-chevron-right 
                                p Có kỹ năng làm việc độc lập, theo nhóm và khả năng phối hợp cùng các bộ phận khác trong công ty.
                        ul 
                            li    
                                em.lnr.lnr-chevron-right
                                p Năng động, sáng tạo 
                        ul 
                            li    
                                em.lnr.lnr-chevron-right 
                                p Nhanh nhẹn giải quyết thắc mắc khách hàng, chịu được áp lực cao trong công việc 
                        ul 
                            li    
                                em.lnr.lnr-chevron-right 
                                p Có tinh thần trách nhiệm cao trong công việc, có thái độ làm việc nghiêm túc, chăm chỉ, nhiệt tình, hài hước, hòa đồng là một lợi thế
                        h3 Yêu cầu hồ sơ
                        ul 
                            li    
                                em.lnr.lnr-chevron-right
                                p Đơn xin việc.
                        ul 
                            li    
                                em.lnr.lnr-chevron-right 
                                p Sơ yếu lý lịch có xác nhận địa phương
                        ul 
                            li    
                                em.lnr.lnr-chevron-right 
                                p Hộ khẩu, chứng minh nhân dân và giấy khám sức khỏe.
                        ul 
                            li    
                                em.lnr.lnr-chevron-right 
                                p Các bằng cấp có liên quan.
                    .button 
                        button Ứng tuyển
                        button Tải form ứng tuyển
                .col-lg-3 
                    .right-hr-detail
                        .card-title 
                            h2 VỊ TRÍ KHÁC
                        .content
                            time 30.03.2020</br>
                            a(href="") Kế toán trưởng
                        .content
                            time 30.03.2020</br>
                            a(href="") Nhân viên kỹ thuật
                        .content
                            time 30.03.2020</br>
                            a(href="") Nhân viên thu mua
                        .content
                            time 30.03.2020</br>
                            a(href="") Quản lý kho
                        .content
                            time 30.03.2020</br>
                            a(href="") Kế toán trưởng
                        .content
                            time 30.03.2020</br>
                            a(href="") Nhân viên kỹ thuật
                        
                        