footer
	.container-custom
		.container
			.row
				.col.col-sm-6.col-lg-3
					h2 Công ty TNHH Makgil viêt namn
					ul
						li
							h3
								em.mdi.mdi-map-marker
								span trự sở chính
							span 18/21 Nguyễn Văn Dung, Phường 06, Q. Gò Vấp, TP. Hồ Chí Minh
						li
							h3
								em.material-icons business
								span văn phòn hà nội
							span Số 130 D4 Khu đô thị mới Đại Kim, Đại Kim, Quận Hoàng Mai, Hà Nội
						li
							a
								em.mdi.mdi-phone
								span  028-665-72704


								span
						li
							a(href="")
								em.mdi.mdi-email
								span info@makgil.com
						li
							a(href="#")
								em.mdi.mdi
								span http://makgil.com