footer
	section.footer-top
		.container-custom
			.container
				.row.row-footer-top
					.col-12.col-sm-6.col-lg-4
						h2 Công ty TNHH Makgil việt nam
						ul.address-col
							li
								h3
									em.mdi.mdi-map-marker
									span Trụ sở chính
								span 18/21 Nguyễn Văn Dung, Phường 06, Q. Gò Vấp, TP. Hồ Chí Minh
							li
								h3
									em.material-icons business
									span Văn phòn hà nội
								span Số 130 D4 Khu đô thị mới Đại Kim, Đại Kim, Quận Hoàng Mai, Hà Nội
						ul.contact-col
							li
								a
									em.mdi.mdi-phone
									span  028-665-72704
							li
								a(href="")
									em.mdi.mdi-email
									span info@makgil.com
							li
								a(href="#")
									em.mdi.mdi-laptop
									span http://makgil.com
					
					.col-12.col-sm-6.col-lg-2
						h2 Về makgil
						ul
							li
								a(href="#")  tổng quan
							li
								a(href="#")  Tin tức 
							li
								a(href="#") Tuyển dụng
							li
								a(href="#") Đối tác
							li
								a(href="#") Liên hệ
						
					.col-12.col-sm-6.col-lg-3
						h2 Sản phẩm - thương hiệu
						ul
							li
								a(href="#") thiết bị đo áp suất
							li
								a(href="#")  Thiết bị đo nhiệt độ
							li
								a(href="#") Thiết bị đo mức
							li
								a(href="#") Thiết bị chống cháy nổ
							li
								a(href="#") Valve
							li
								a(href="#") Valve & Tube Fitting
							li
								a(href="#") Keo công nghiệp
							li
								a(href="#") Phụ kiện đường ống
						
					.col-12.col-sm-6.col-lg-3
						h2 Follow us
						<div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-width="" data-height="195" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true"><blockquote cite="https://www.facebook.com/facebook" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote></div>
						
				.row.row-footer-bottom
					.col-12.col-sm-6.col-lg-6
						.online-support
							h2 Hỗ trợ trực tuyến
							.link-chat
								a(href="#")
									img(src="./img/skype.png", alt="")
								a(href="#")
									img(src="./img/zalo.png", alt="")
					.col-12.col-sm-6.col-lg-3
						.verify-image
							a(href="#")
								img(src="./img/ver.png", alt="")
					.col-12.col-lg-3
						.subscrible-wrapper
							h2 Đăng ký nhận bản tin
							.subsrcibe
								.subscribefrm
									input(type="text" placeholder='Enter your email')
									button
										em.mdi.mdi-arrow-right
			.container
				.footer-bottom-wrapper
					.copy-right
						p Copyright © 2020 MAKGIL Viet Nam. All rights reserved.
					.web-counter
						.text Số lượng truy cập:
							strong 10595842