header
	.container-custom
		.container.flex-space
			.header-wrapper-left
				.nav-brand
					.ModuleContent
						a(href="index.html")
							img(src="./img/logo.png", alt="")
			.header-wrapper-right
				.wrapper-top.flex-end
					.contact-wrapper
						em.mdi.mdi-phone
						span 027 665 72704
					.mail-wrapper
						a(href="#")
							em.mdi.mdi-email
					.search-wrapper
						.searchbox
							input(type="text", placeholder="Tìm kiếm")
							button
								em.mdi.mdi-magnify
					.language-wrapper
						.language-toggle
							span Languages
							em.lnr.lnr-chevron-down
						ul.language-list
							li
								a(href="#") VN
							li
								a(href="#") EN
					.mobile-toggle
						em.lnr.lnr-menu
				.wrapper-bottom
					ul.nav-menu-primary
						li.active
							a(href="index.html") 
								em.mdi.mdi-home
						li
							a(href="gioi-thieu.html") Giới thiệu
						li
							a(href="danh-sach-san-pham.html") Sản phẩm - Thương hiệu
						li
							a(href="tin-tuc.html") Tư vấn kỹ thuật
						li
							a(href="ho-tro-khach-hang.html") Sự kiện nổi bật
						li
							a(href="tuyen-dung.html") Tuyển dụng
						li
							a(href="lien-he.html") Liên hệ
	.mobile-wrapper