header
	.container-custom
		.container.flex-space
			.header-wrapper-left
				.nav-brand
					.ModuleContent
						a(href="#")
							img(src="./img/logo.png", alt="")
			.header-wrapper-right
				.wrapper-top.flex-end
					.contact-wrapper
						em.mdi.mdi-phone
						span 027 665 72704
					.mail-wrapper
						a(href="#")
							em.mdi.mdi-email
					.search-wrapper
						.searchbox
							input(type="text", placeholder="Tim kiem")
							button
								em.mdi.mdi-magnify
					.language-wrapper
						.language-toggle
							span Languages
							em.lnr.lnr-chevron-down
						ul.language-list
							li
								a(href="#") VN
							li
								a(href="#") EN
					.mobile-toggle
						em.lnr.lnr-menu
				.wrapper-bottom
					ul.nav-menu-primary
						li.active
							a(href="#") 
								em.mdi.mdi-home
						li
							a(href="#") Giới thiệu
						li
							a(href="#") Sản phẩm - Thương hiệu
						li
							a(href="#") Tư vấn kỹ thuật
						li
							a(href="#") Sự kiện nổi bật
						li
							a(href="#") Tuyển dụng
						li
							a(href="#") Liên hệ
	.mobile-wrapper