header
	height: 110px
	position: fixed
	top: 0
	width: 100%
	right: 50%
	transform: translateX(50%)
	z-index: 999
	max-width: 100%
	@media (min-width: 1280px)
		max-width: 1440px
	@media screen and ( max-width: 1024px)
		height: 60px
		
	.container-custom
		background: #ffffff 
		height: 100%
	.container
		height: 100%
	.header-wrapper-right
		display: flex
		justify-content: space-between
		flex-direction: column
		align-items: flex-end
		height: 100%
		padding: 20px 0
		@media screen and ( max-width: 1024px )
			padding: 0
			
	.wrapper-top
		@media screen and ( max-width:  1024px)
			height: 100%
			
	.nav-brand
		a
			svg
				// width: 250px!important
				height: 85px!important
				max-height: 85px!important
			@media screen and ( max-width:  1024px)
				img
					width: 130px
			@media screen and ( max-width: 576px)
				svg
					width: 130px
	.search-wrapper
		@media screen and ( max-width: 1024px)
			display: flex
			align-items: center
			justify-content: center
			margin: 10px 0
	.contact-wrapper
		padding-right: 25px
		position: relative
		&:before
			content: ''
			display: block
			position: absolute
			pointer-events: none
			right: 0
			bottom: 5px
			z-index: 9
			height: 16px
			width: 1px
			background: #333333
		em
			font-size: 18px
			color: $azure
		span
			font-size: r(18px)
			color: $azure
			display: inline-block
			margin-left: 20px
		@media screen and ( max-width: 1024px)
			display: flex
			align-items: center
			justify-content: center
			padding: 0
			margin: 10px 0
			
	.mail-wrapper
		padding: 0 20px
		a
			display: flex
			align-items: center
			justify-content: center
			em
				font-size: 18px
				color: $azure
	.language-wrapper
		margin-left: 20px
		position: relative
		@media screen and ( max-width:  1024px)
			margin-left: 0
			margin-right: 10px
			
		.language-toggle
			span
				font-size: r(14px)
				display: inline-block
				margin-right: 10px
			em
				font-size: 14px
			@media screen and ( max-width: 1024px)
				white-space: nowrap
				span
					font-size: r(11px)
					margin-right: 5px
				
		&:hover
			.language-list
				opacity: 1
				pointer-events: auto
		.language-list
			position: absolute
			top: 100%
			width: 100%
			list-style-type: none
			background: #ffffff
			padding: 10px 0
			opacity: 0
			pointer-events: none
			transition: .3s all  ease-in-out
			li
				
				&:hover
					a
						color: $azure
						text-decoration: underline
				&.active
					a
						color: $azure
				a
					display: inline-block
					padding: 10px 0
					width: 100%
					text-align: center
					color: #333333
					transition: .3s all  ease-in-out
	.mobile-toggle
		display: none
		@media screen and ( max-width: 1024px)
			display: block
			em
				font-size: 28px
	.mobile-wrapper
		display: flex
		width: 100%
		height: calc( 100vh - 60px )
		right: 0
		z-index: 0
		overflow-y: auto
		opacity: 0
		pointer-events: none
		transform: translateX(100%)
		transition: all .8s cubic-bezier(.68,-.55,.265,1.55)
		top: 60px
		position: fixed
		flex-direction: column
		&.active
			opacity: 1
			pointer-events: auto
			background: #ffffff
			z-index: 50
			transform: translateX(0)

			
.nav-menu-primary
	display: flex 
	align-items: center
	justify-content: flex-end
	list-style-type: none
	padding: 0
	list-style-type: none
	@media screen and ( max-width:1024px)
		border-top: 1px solid $azure
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		padding-top: 20px
		
	li
		&:first-child
			a
				padding: 0 20px 0 0
		&:last-child
			a
				padding: 0 0 0 20px
		&.active,&:hover
			a
				color: $azure
	
		a
			display: inline-block
			padding: 0 20px
			font-size: 1rem
			transition: .3s all  ease-in-out
			color: #333333
			font-weight: 500
			em
				font-size: 20px
		@media screen and ( max-width: 1280px)
			&:first-child
				a
					padding: 0 10x 0 0
			&:last-child
				a
					padding: 0 0 0 10x
			a
				padding: 0 10px
				font-size: r(14px)
		@media screen and ( max-width: 1024px)
			&:first-child
				a
					padding: 5px 20px
			&:last-child
				a
					padding: 5px 20px
			a
				padding: 5px 20px
				font-size: r(16px)
		&.has-dropdown
			position: relative
			cursor: pointer
			&:before
				font-family: 'Material Design Icons'
				content: '\f35d'
				position: absolute
				top: 50%
				transform: translateY(-50%)
				right: 2px
				font-size: 18px
				color: $main
			.dropdown-list
				position: absolute
				top: 150%
				opacity: 0
				pointer-events: none
				left: 5px
				transition: .25s ease-in-out all
				z-index: 33
				width: calc(100% + 50px)
				background: #ffffff
				box-shadow: 0 0 10px 2px rgba(0,0,0,0.1)
				transition: .4s ease-in-out all
				padding: 10px 0
				z-index: 11
				list-style-type: none
				.dropdown-item 
					width: 100%
					padding: 0 15px
					position: relative
					cursor: pointer
					&.dropdown-item-has-dropdown
						&:before
							font-family: 'Material Design Icons'
							content: '\f35f'
							position: absolute
							top: 50%
							transform: translateY(-50%)
							right: 2px
							font-size: 18px
							color: $main
					a 
						padding: 7px 0
						font-size: 13px
						text-align: left
						text-transform: none
						font-weight: 400
						color: #333333
						display: inline-flex
						@media(min-width: 1450px)
							font-size: 14px
						&:after
							display: none
						&::before
							width: 0
							bottom: 4px
						&:hover
							text-decoration: none
							color: $azure
					&.active, &:hover
						a 
							color: $azure
							&::before
								width: 100%
					.dropdown-list-2
						position: absolute
						left: 150%
						opacity: 0
						pointer-events: none
						transition: .25s ease-in-out all
						z-index: 33
						width: calc(100% + 50px)
						background: #ffffff
						box-shadow: 0 0 10px 2px rgba(0,0,0,0.1)
						transition: .4s ease-in-out all
						padding: 10px 0
						z-index: 2
						top: 0
						list-style-type: none
						.dropdown-item-2
							width: 100%
							padding: 0 15px
							a 
								padding: 7px 0
								font-size: 13px
								text-align: left
								text-transform: none
								font-weight: 400
								color: #333333
								display: inline-flex
								@media(min-width: 1450px)
									font-size: 14px
								&:after
									display: none
								&::before
									width: 0
									bottom: 4px
								&:hover
									text-decoration: none
									color: $azure
							&.active, &:hover
								a 
									color: $azure
									&::before
										width: 100%
					&:hover
						.dropdown-list-2
							left: 100%
							opacity: 1
							pointer-events: initial
			&:hover
				.dropdown-list
					top: 100%
					opacity: 1
					pointer-events: initial
