section.banner-hr
    .container-fuild
        .card-img
            .img
                img(src="./img/tuyen-dung/banner-hr.png", alt="")

section.hr
    .container-custom
        .container
            .card-title
                h1 TUYỂN DỤNG
            .row
                .col-lg-6
                    .card-body
                        .img
                            img(src="./img/tuyen-dung/hr-1.png", alt="")
                .col-lg-6
                    .card-title
                        h2 TẠI SAO CHỌN MAKGIL ?
                    .content
                        p Việc đầu tư về chính sách nhân sự được Makgil quan tâm hàng đầu và được xem là vấn đề đầu tư mang lại nhiều hiệu quả
                        p Chính vì thế, khi làm việc tại Makgil, bạn sẽ nhận được mức lương tương xứng với năng lực và cạnh tranh so với thị trường. Ngoài ra, để khích lệ động viên tích cực nhân viên làm việc, tiền thưởng là yếu tố thúc đẩy nhằm tối đa hóa khả năng hoàn thành mục tiêu công việ. Khi đạt được kết quả theo mục tiêu Công Ty mong đợi, bạn sẽ được hưởng các mức thưởng hấp dẫn phù hợp với năng lực từng cá nhân. Nếu bạn là thành viên xuất sắc, Công Ty sẽ tạo điều kiện để bạn phát triển nghề nghiệp.
                        p Bên cạnh đó, Công Ty luôn tạo ra môi trường làm việc thân thiện, chia sẽ và teamwork, với bầu không khí làm việc thoải mái, với nhiều cơ hội để bạn phát huy hết khả năng cá nhân và phát triển cùng công ty. 

section.form-hr
    .container-custom
        .container
            .card-title
                h3 VỊ TRÍ TUYỂN DỤNG
            .row
                .col-lg-12
                    .card-body
                        table.table.table-striped
                            thead
                                tr
                                    th(scope='col') STT
                                    |
                                    th(scope='col') Vị trí tuyển dụng 
                                    |
                                    th(scope='col') Số lượng
                                    |
                                    th(scope='col') Khu vực
                                    |
                                    th(scope='col') Thời hạn
                                |
                            
                            tbody
                                tr
                                    td 1
                                    |
                                    td 
                                        a(href="tuyen-dung-chi-tiet.html") Nhân viên kỹ thuật dịch vụ
                                    |
                                    td 01
                                    |
                                    td TP.HCM
                                    |
                                    td 30/03/2020
                                |
                                tr
                                    td 2
                                    |
                                    td 
                                        a(href="tuyen-dung-chi-tiet.html") Nhân viên thu mua
                                    |
                                    td 02
                                    |
                                    td TP.HCM
                                    |
                                    td 30/03/2020
                                |
                                tr
                                    td 3
                                    |
                                    td 
                                        a(href="tuyen-dung-chi-tiet.html") Trưởng phòng marketing
                                    |
                                    td 07
                                    |
                                    td TP.HCM
                                    |
                                    td 30/03/2020
                                |
                                tr
                                    td 4
                                    |
                                    td 
                                        a(href="tuyen-dung-chi-tiet.html") Kế toán viên
                                    |
                                    td 01
                                    |
                                    td TP.HCM
                                    |
                                    td 30/03/2020
                                |
                                tr
                                    td 5
                                    |
                                    td 
                                        a(href="tuyen-dung-chi-tiet.html") Lập trình viên
                                    |
                                    td 05
                                    |
                                    td TP.HCM
                                    |
                                    td 30/03/2020
                                |
                                tr
                                    td 6
                                    |
                                    td 
                                        a(href="tuyen-dung-chi-tiet.html") Hành chính văn phòng
                                    |
                                    td 10
                                    |
                                    td TP.HCM
                                    |
                                    td 30/03/2020
                                |
                                tr
                                    td 7
                                    |
                                    td 
                                        a(href="tuyen-dung-chi-tiet.html") Trưởng phòng kinh doanh
                                    |
                                    td 01
                                    |
                                    td TP.HCM
                                    |
                                    td 30/03/2020
                                |
                                tr
                                    td 8
                                    |
                                    td 
                                        a(href="tuyen-dung-chi-tiet.html") Nhân viên kỹ thuật dịch vụ
                                    |
                                    td 01
                                    |
                                    td TP.HCM
                                    |
                                    td 30/03/2020
                                |
                                tr
                                    td 9
                                    |
                                    td 
                                        a(href="tuyen-dung-chi-tiet.html") Nhân viên thu mua
                                    |
                                    td 02
                                    |
                                    td TP.HCM
                                    |
                                    td 30/03/2020
                                |
                                tr
                                    td 10
                                    |
                                    td 
                                        a(href="tuyen-dung-chi-tiet.html") Trưởng phòng marketing
                                    |
                                    td 02
                                    |
                                    td TP.HCM
                                    |
                                    td 30/03/2020
                .col-lg-4
                .col-lg-4
                    .button
                            button 1
                            button 2
                            button 3    
                                    
            
