// hr
.hr
	text-align: center
	.card-title
		padding: 56px 0 0 0
		h1
			font-size: 30px
			color: #333333
			font-weight: 600
			
		.subtitle 
			font-size: 20px
			color: #333333
			padding-bottom: 15px
			text-align: left
			@media screen and ( max-width: 1024px )
				text-align: center
				
	.over-flow-scollbar
		.content
			p 
				&:nth-child(1)
					padding-bottom: 37px
				&:nth-child(2)
					padding-bottom: 37px
					
					
	.card-body
		.img
			padding: 15px 0 0 0
			img 
				width: 100%
				height: 100%
	.content
		overflow: auto
		max-height: 250px
		padding-right: 20px
		p 
			font-size: 16px
			color: #333333
			text-align: justify
			&:nth-last-child(1)
				padding-bottom: 35px
@media ( max-width: 576px )
	.hr
		.card-title
			margin: -20px 0 0 0
			h1
				font-size: 24px
				font-weight: 600
			h2 
				text-align: center
				margin: -20px 0 0 0
			
		.card-body
			margin-top: -30px 
			.img   
				img 
					width: 100%
					height: 250px
					object-fit: cover
		
// form-hr
.form-hr
	.card-title
		padding-top: 60px
		.text
			color: #333333
			font-size: 20px
			font-weight: 600
			text-align: center
		@media screen and ( max-width: 576px)
			padding: 30px 0 0 0
						
	.card-body
		padding-bottom: 80px
		table
			width: 100%
			height: 100%
			margin: 20px 0 0 0
			thead
				background: #61a6d5
				color: #ffffff
				text-align: center
				tr
					width: 100%
					height: 50px
					th 
						border: 1px solid #f3f3f3
			tbody 
				text-align: center
				font-size: 16px
				color: #333
				border: 1px solid #f3f3f3
				tr
					width: 100%
					height: 50px
					border: 1px solid #f3f3f3
					th 
						border: 1px solid #f3f3f3
					td 
						border: 1px solid #f3f3f3
						a 
							display: block
							text-align: left
							padding: 0 20px
					&:nth-child(2)
						background: #f3f3f3
					&:nth-child(4)
						background: #f3f3f3
					&:nth-child(6)
						background: #f3f3f3
					&:nth-child(8)
						background: #f3f3f3
					&:nth-child(10)
						background: #f3f3f3

	.button
		display: flex
		align-items: center
		justify-content: center
		margin-top: 20px
		margin-bottom: 30px
		button
			width: 40px
			height: 40px
			border: 1px solid #f3f3f3
			margin-left: 21px
			background: #f3f3f3
			color: #333333
			&:hover
				background: #0267b1
				color: #ffffff

	
@media ( max-width: 576px )
	.hr 
		.card-body 
			margin: 5px 0 0 0
		.card-title 
			h2 
				margin: 5px 0 0 0

	.form-hr
		.card-body
			width: 100%
			overflow: hidden
			
	 
.apply-form
	margin-top: 30px
	display: flex
	justify-content: flex-start
	align-items: center
	@media (max-width: 575.98px)
		flex-direction: column
		align-items: flex-start
	.button-apply
		margin-right: 30px
		@media (max-width: 575.98px)
			margin-bottom: 15px
	.button-apply,.button-download
		transition: .3s all ease-in-out
		cursor: pointer
		padding: 12px 40px
		border: 1px solid #069aea
		&:hover
			text-shadow: 1px 0 0 #ffffff
		a
			transition: .3s all ease-in-out
			font-weight: 400
			color: #069aea
		&:hover
			background: #069aea
			a
				color: #ffffff
//Declare some global css
.apply-frm
	padding-bottom: 30px
	margin: 0
	input[type="file"]
		left: 0
	>div
		width: 100%
	#ctl00_phMain_jobApply_pnlNewComment
		position: relative
		display: flex
		flex-wrap: wrap
		>.form-group
			width: 100%
		.col-left,.col-right
			flex: 0 0 100%
			max-width: 100%
			display: flex
			flex-wrap: wrap
			>.form-group
				margin-bottom: 10px
			@media (min-width: 576px)
				margin: 0 -10px
				>.form-group
					padding: 0 10px
			
	.col-left
		>.form-group
			flex: 0 0 100%
			max-width: 100%
			@media (min-width: 576px)
				&:nth-child(1),
				&:nth-child(2),
				&:nth-child(3),
				&:nth-child(4)
					flex: 0 0 50%
					max-width: 50%
	.col-right
		>.form-group
			flex: 0 0 100%
			max-width: 100%

	h4
		font-size: 16px
		font-weight: 600
		color: #034da2
		text-transform: uppercase
		margin-bottom: 20px
		@media (min-width: 992px)
			width: 100%
	.fa-exclamation-triangle
		top: 50%
		transform: translateY(-50%)
		right: 15px
		color: red
	.label
		font-size: 14px
		font-weight: 400
		color: #999999
		margin-bottom: 4px
		.required
			color: red
	input[type="text"], input[type="password"], textarea
		width: 100%
		border: 1px solid #e5e5e5
		color: lighten(black, 20%)
		font-size: 13px
		padding: 7px 15px
		font-family: 'Bai Jamjuree',sans-serif
		&:focus
			border-color: #034da2
	input[type="text"],input[type="password"]
		height: 50px
	textarea
		height: 200px
	.RadAsyncUpload
		.ruDropZone
			display: none
		.ruFileWrap
			position: relative
			display: block
			height: 50px
		.ruFileInput, .ruBrowse
			height: 50px
			width: 120px
			height: 50px
			background: #e5e5e5
			text-transform: uppercase
			font-size: 15px
			display: flex
			justify-content: center
			align-items: center
			border: 0
		.ruFileInput
			position: absolute
			top: 0
			opacity: 0
	.frm-btn
		margin-top: 20px
		text-align: left
		input[type="submit"]
			height: 40px
			width: 100%
			max-width: 180px
			display: inline-flex
			justify-content: center
			align-items: center
			border-radius: 0
			border: 0
			background: #b96e2b
			color: #fff
			text-transform: uppercase
.form-apply
	height: 740px!important
	display: none
	margin-top: 40px
	padding: 0
	&.active
		display: block
	@media (min-width: 623px)
		height: 420px!important
	iframe
		border: 0
		background: white
		width: 100%
		height: 100%

.hr
	.head-title
		font-size: 1.875rem !important
		text-align: center !important
		@media screen and ( max-width: 1024px)
			font-size: 1.5rem
			
			