// Banner-hr
.banner-hr
     .card-img
        .img
            height: 72vh
            img 
                width: 100%
                height: 100%
                object-fit: cover

// hr
.hr
    .card-title
        padding: 40px 0 0 0
        h1
            font-size: 30px
            color: #333333
            text-align: center
            font-weight: 600
        h2 
            font-size: 20px
            color: #333333
            padding-bottom: 15px
    .card-body
        .img
            padding: 15px 0 0 0
            img 
                width: 100%
                height: 100%
    .content
        p 
            font-size: 16px
            color: #333333
            text-align: justify
          




@media ( max-width: 576px )
    .hr
        .card-title
            margin: -20px 0 0 0
            h1
                font-size: 24px
                font-weight: 600
            h2 
                text-align: center
                margin: -20px 0 0 0
            
        .card-body
            margin-top: -30px 
            .img   
                img 
                    width: 100%
                    height: 250px
                    object-fit: cover
        
// form-hr
.form-hr
    .card-title
        padding-top: 30px
        h3 
            color: #333333
            font-size: 20px
            text-align: center
    .card-body
        table 
            thead 
                background: #61a6d5
                color: #ffffff
                text-align: center
            tbody 
                text-align: center
    .button
        display: flex
        align-items: center
        justify-content: center
        margin-top: 20px
        margin-bottom: 30px
        button
            width: 40px
            height: 40px
            border: 1px solid #f3f3f3
            margin-left: 21px
            background: #f3f3f3
            color: #333333
            &:hover
                background: #0267b1
                color: #ffffff

@media ( max-width: 576px )
    .form-hr
        .card-body
            width: 100%
            overflow: hidden
     
    