section.brand-display
	.container-custom
		.container
			.head-title Thuong hieu 
			.brand-swiper-wrapper
				.nav-arrow-prev
					em.mdi.mdi-arrow-left
				.nav-arrow-next
					em.mdi.mdi-arrow-right
				.swiper-container
					.swiper-wrapper
						.swiper-slide
								.wrapper
									a(href="#")
										img(src="./img/brand/1.png", alt="")
						.swiper-slide
								.wrapper
									a(href="#")
										img(src="./img/brand/1.png", alt="")
						.swiper-slide
								.wrapper
									a(href="#")
										img(src="./img/brand/1.png", alt="")
						.swiper-slide
								.wrapper
									a(href="#")
										img(src="./img/brand/1.png", alt="")
						.swiper-slide
								.wrapper
									a(href="#")
										img(src="./img/brand/1.png", alt="")
						.swiper-slide
								.wrapper
									a(href="#")
										img(src="./img/brand/1.png", alt="")
						-for(i=1; i<6; i++)
							.swiper-slide
								.wrapper
									a(href="#")
										img(src="./img/brand/"+i+".png", alt="")