section.product
    .container-custom 
        .card-img 
            .img 
                img(src="./img/san-pham/banner-product.png", alt="")

section.list-product 
    .container-custom 
        .container 
            .row 
                .col-lg-3
                    .left 
                        .card-title 
                            h3 DANH SÁCH SẢN PHẨM 
                        .support-wrapper
                            .toggle-item
                                .title
                                    span Thiết bị đo áp suất
                                    em.lnr.lnr-chevron-down
                                .article
                                    .caption 
                                        p Trả lời: Có
                            .toggle-item
                                .title
                                    span Thiết bị đo nhiệt độ
                                    em.lnr.lnr-chevron-down
                                .article
                                    .caption 
                                        p Trả lời: Có
                            .toggle-item
                                .title
                                    span Thiết bị đo mức
                                    em.lnr.lnr-chevron-down
                                .article
                                    .caption 
                                        p Trả lời: Có
                            .toggle-item
                                .title
                                    span Thiết bị chống cháy nổ
                                    em.lnr.lnr-chevron-down
                                .article
                                    .caption 
                                        p Trả lời: Có
                            .toggle-item
                                .title
                                    span Valve
                                    em.lnr.lnr-chevron-down
                                .article
                                    .caption 
                                        p Trả lời: Có
                            .toggle-item
                                .title
                                    span Valve & Tube Fitting
                                    em.lnr.lnr-chevron-down
                                .article
                                    .caption 
                                        p Trả lời: Có
                            .toggle-item
                                .title
                                    span Keo công nghiệp
                                    em.lnr.lnr-chevron-down
                                .article
                                    .caption 
                                        p Trả lời: Có
                            .toggle-item
                                .title
                                    span Phụ kiện đường ống
                                    em.lnr.lnr-chevron-down
                                .article
                                    .caption 
                                        p Trả lời: Có
                .col-lg-9
                    
                .col-lg-3
                    .left-brand 
                        .card-title 
                            h3 THƯƠNG HIỆU
                        .content
                            ul 
                                li  
                                    a(href="") Alloy electric
                                li 
                                    a(href="") Atx appletan
                                li 
                                    a(href="") Autrol
                                li
                                    a(href="") Belzona
                                li
                                    a(href="") Daehan sensor
                                li
                                    a(href="") Drastar
                                li
                                    a(href="") lec
                                li
                                    a(href="") Kaval valve
                                li
                                    a(href="") O.erre
                                li
                                    a(href="") Omet              