// section banner
.banner-product
	.card-img
		.img
			height: 452px
			img 
				width: 100%
				height: 100%
				object-fit: cover

@media (max-width: 576px )
	.banner-product
		.card-img
			.img
				width: 100%
				height: 300px
				img 
					width: 100%
					height: 100%

@media (max-width: 1024px )
	.banner-contact
		.card-img
			.img
				width: 100%
				height: 300px
				img 
					width: 100%
					height: 100%

.list-product
	margin-bottom: 80px
	margin-top: 60px
	.left
		.card-title
			background: $azure
			width: 100%
			height: 60px
			padding: 20px
			margin: 0
			display: flex
			align-items: center
			justify-content: center
			h3 
				font-size: 20px 
				color: #ffffff
		.support-wrapper
			background: #eeeeee
			.toggle-item
				margin-bottom: 1rem
				border-bottom: 1px solid #e0e0e0
				.title
					display: flex
					align-items: center
					justify-content: space-between
					height: 40px
					padding: 20px 30px
					transition: .3s all  ease-in-out
					span 
						color: #333
						font-size: 1rem
						transition: .3s all  ease-in-out
					em
						transition: .3s all  ease-in-out
				&.active
					.title
						span
							color: $azure
						em
							transform: rotate(-180deg)
			.article
				display: none
				.caption
					p 
						padding-left: 30px

	.left-brand
		.card-title
			background: $azure
			width: 100%
			height: 60px
			padding: 20px
			margin-top: 26px
			h3 
				font-size: 20px 
				color: #ffffff
		.content
			width: 100%
			height: 420px
			background: #eeeeee
			ul 
				list-style: none
				padding: 0
				li 
					width: 100%
					height: 42px
					border-bottom: 1px solid #e1e1e1
					a 
						padding-left: 20px
						line-height: 40px
						&:hover
							color: #62a6d3
	

.ModuleContent
	margin-top: 60px
	
.Module.Module-252
	padding-top: 30px
	.left-brand 
		.card-title
			width: 100%
			height: 60px
			background: #62a6d3
			padding: 20px
			color: #ffffff
		.content
			width: 100%
			background: #eeeeee
			ul 
				list-style: none
				padding: 0
				li 
					width: 100%
					height: 42px
					border-bottom: 1px solid #e1e1e1
					a 
						padding-left: 20px
						line-height: 40px
						&:hover
							color: #62a6d3

.modulepager
	padding-top: 40px
					
			
				