section.product
    .container-custom 
        .card-img 
            .img 
                img(src="./img/san-pham/banner-product.png", alt="")

section.list-product 
    .container-custom 
        .container 
            .row 
                .col-lg-3
                    .left 
                        .card-title 
                            h3 DANH SÁCH SẢN PHẨM 
                        .content
                            ul 
                                li  
                                    a(href="") Thiết bị đo áp suất</br>
                                    em.lnr.lnr-chevron-down
                            ul 
                                li 
                                    a(href="") Thiết bị đo nhiệt độ </br>
                                    em.lnr.lnr-chevron-down
                            ul 
                                li
                                    a(href="") Thiết bị đo mức</br>
                                    em.lnr.lnr-chevron-down
                            ul 
                                li
                                    a(href="") Thiết bị chống chảy nổ</br>
                                    em.lnr.lnr-chevron-down
                            ul 
                                li
                                    a(href="") Valve</br>
                                    em.lnr.lnr-chevron-down
                            ul 
                                li
                                    a(href="") Valve & Tube Fitting</br>
                                    em.lnr.lnr-chevron-down
                            ul 
                                li
                                    a(href="") Keo công nghiệp</br>
                                    em.lnr.lnr-chevron-down
                            ul 
                                li
                                    a(href="") phụ kiện đường ống</br>
                                    em.lnr.lnr-chevron-down
                .col-lg-9
                    
                .col-lg-3
                    .left-brand 
                        .card-title 
                            h3 THƯƠNG HIỆU
                        .content
                            ul 
                                li  
                                    a(href="") Alloy electric
                            ul 
                                li 
                                    a(href="") Atx appletan
                            ul
                                li 
                                    a(href="") Autrol
                            ul 
                                li
                                    a(href="") Belzona
                            ul 
                                li
                                    a(href="") Daehan sensor
                            ul 
                                li
                                    a(href="") Drastar
                            ul 
                                li
                                    a(href="") lec
                            ul 
                                li
                                    a(href="") Kaval valve
                            ul 
                                li
                                    a(href="") O.erre
                            ul 
                                li
                                    a(href="") Omet              