section.product
    .container-custom 
        .card-img 
            .img 
                img(src="./img/san-pham/banner-product.png", alt="")

section.list-product 
    .container-custom 
        .container 
            .row 
                .col-lg-3 
                    .left 
                        .card-title 
                            h3 DANH SÁCH SẢN PHẨM 
                        .content 
                            a(href="") Thiết bị đo áp suất
                            a(href="") Thiết bị đo nhiệt độ 
                            a(href="") Thiết bị đo mức
                            a(href="") Thiết bị chống chảy nổ
                            a(href="") 