section.news-detail
    .container-custom
        .container
            .row
                .col-lg-9
                    .card-title
                        h1 LẮP ĐẶT ĐỒNG HỒ ÁP SUẤT ĐÚNG CÁCH
                        time 03/04/2020
                        .icon
                            a(href="")
                                em.fa.fa-facebook-f
                            a(href="")
                                em.fa.fa-twitter
                    .card-body
                        h2 Hướng dẫn lắp đặt đồng hồ áp suất đúng cách
                        h3 1. Vị trí lắp đặt
                        p Khi lắp đặt, nên chọn vị trí sao cho giảm tối thiểu ảnh hưởng của hiện tượng rung, nhiệt độ và độ ẩm môi trường để kéo dài tuổi thọ cũng như tránh làm sai số thiết bị. Nơi khô ráo và tránh các nguồn nhiệt trực tiếp như là hơi là một vị trí lý tưởng để lắp đặt thiết bị
                    .card-img
                        .img
                            img(src="./img/tin-tuc-chi-tiet/news-detail-1.png", alt="")
                        h3 2. Cách gắn thiết bị
                        p Tuyệt đối không tác động vào phần đồng hồ để vặn chặn thiết bị vào đường ống. Nên sử dụng mỏ lết để gắn phần ren có vào. Tùy vào nhà cung cấp mà có thể sử dụng thêm vòng đệm để giúp thiết bị được gắn chặt hơn.
                    .card-img 
                        h4 3. Bảo vệ thiết bị
                        p Nếu môi chấtlà nơi, cần lắp một ống siphon chứa nước để ngăn giữa thiết bị và đường ống để tránh ảnh hưởng của hơi đến thiết bị. Khi nhiệt độ quá cao có thể ảnh hưởng đển sự chính xác của thiết bị.
                        .img 
                            img(src="./img/tin-tuc-chi-tiet/news-detail-2.png", alt="")
                        h3 4. Lắp thêm 
                        p Nên gắn một van đóng mở để có thể thuận tiện cho việc tháo lắp thiết bị hoặc van kim trên đường ống để có thể điều chỉnh áp suất. Áp suất qua thiết bị không nên quá 75% dãy đo tổng.
                .col-lg-3
                    .right-news
                        .card-title 
                            h3 VỊ TRÍ KHÁC
                        .card-body
                            .img 
                                img(src="./img/tin-tuc-chi-tiet/right-news-1.png", alt="")
                            .content
                                time 30.03.2020</br>
                                a.lcl.lcl-2(href="") Cách chọn đồng hồ đo áp suất phù hợp
                        .card-body
                            .img 
                                img(src="./img/tin-tuc-chi-tiet/right-news-2.png", alt="")
                            .content
                                time 30.03.2020</br>
                                a.lcl.lcl-2(href="") Các loại van Công nghiệp - Ứng dụng.
                        .card-body
                            .img 
                                img(src="./img/tin-tuc-chi-tiet/right-news-3.png", alt="")
                            .content
                                time 30.03.2020</br>
                                a.lcl.lcl-2(href="") Triểm lãm PETROVIETNAM
                        .card-body
                            .img 
                                img(src="./img/tin-tuc-chi-tiet/right-news-4.png", alt="")
                            .content
                                time 30.03.2020</br>
                                a.lcl.lcl-2(href="") Đồng hồ đo áp suất - những điều cần biết
                        .card-body
                            .img 
                                img(src="./img/tin-tuc-chi-tiet/right-news-5.png", alt="")
                            .content
                                time 30.03.2020</br>
                                a.lcl.lcl-2(href="") Đồng Hồ Đo Áp Suất gồm những loại nào
                        .card-body
                            .img 
                                img(src="./img/tin-tuc-chi-tiet/right-news-6.png", alt="")
                            .content
                                time 30.03.2020</br>
                                a.lcl.lcl-2(href="") Tìm hiểu các loại van công nghiệp trong