.news-detail
	padding: 60px 0
	@media screen and ( max-width: 1024px)
		padding: 40px 0 50px 
	.card-title
		h1 
			font-size: 20px
			color: #333333
		time 
			font-size: 12px
			color: #adadad
	.card-body
		padding: 20px 0 0 0
		h2 
			font-size: 16px
		h3 
			font-size: 18px
			color: #61a6d5
			padding-top: 20px
		p 
			text-align: justify
	.card-img
		.img
			width: 100%
			img 
				width: 100%
				height: 100%
				object-fit: cover
		h3 
			font-size: 18px
			color: #61a6d5
			padding-top: 30px
		h4 
			color: #61a6d5
			font-size: 18px
	.fullcontent
		font-size: 16px
		padding: 20px 0 0 0
		ol,ul
			list-style-type: none
			padding: 0
			li 
				text-align: justify
				img 
					width: 100%
					display: flex
					align-items: center
					justify-content: center
					object-fit: cover
					padding-top: 30px
					padding-bottom: 30px
		p
			&:nth-child(2)
				padding: 20px 0 0 0
			&:nth-child(4)
				padding: 10px 0 10px 0
			&:nth-child(6)
				padding: 20px 0 0 0
				
						
	.card-imgg
		.img
			width: 100%
			padding: 20px 0 0 0
			img 
				width: 100%
				height: 100%
				object-fit: cover
		h3 
			font-size: 18px
			color: #61a6d5
			padding-top: 30px
		h4 
			color: #61a6d5
			font-size: 18px
	.right-news
		.card-title
			background: $azure
			width: 100%
			height: 60px
			padding: 20px
			h3 
				font-size: 20px 
				color: #ffffff
		.card-body
			width: 100%
			height: 120px
			display: flex
			background: #f9f9f9
			border-bottom: 1px solid #adadad
			padding: 1.25rem
			.img
				img 
					width: 82px
					height: 73px
					object-fit: cover
			.content
				padding: 0 0 0 10px
				width: 100%
				height: 74px
				time 
					font-size: 12px
					color: #adadad
				a
					font-size: 14px
					color: #333333
					
					&:hover
						color: $azure
						text-decoration: none
				

@media ( max-width: 1200px )
	.news-detail
		.card-title
			margin-top: 20px
			width: 100%
			h1 
				font-size: 30px
		.card-body
			h2 
				font-size: 20px
		.right-news
			margin-bottom: 0
			.card-title
				h3 
					text-align: left
			.card-body
				.img
					img 
						width: 82px
						height: 74px
				.content
					padding-left: 10px
					a 
						font-size: 13px


@media ( max-width: 576px )
	.news-detail
		.card-title
			width: 100%
			margin-top: 20px
			h1 
				font-size: 16px
				font-weight: 600
		.card-body,
		.card-img
			h2 
				font-size: 14px
			h3 
				font-size: 14px
			h4 
				font-size: 14px
			p 
				font-size: 13px

.middle-fullwidth
	.pagination
		padding-bottom: 80px
				
	
.social-network-share
	display: flex
	.icon
		display: flex
		a
			display: flex
			justify-content: center
			align-items: center
			width: 35px
			height: 20px
			margin-right: 5px
			&:first-child
				background: #3b5998
			&:nth-child(2)
				background: #00abec
			em
				font-size: 11px
				height: 11px
				line-height: 11px
				color: #ffffff
				&::before
					height: 11px
					line-height: 11px
.bottom-wrapper-news-detail
	border-bottom: 1px solid #f5f5f5
	display: flex 
	justify-content: space-between
	align-items: center
	padding-bottom: 10px
	margin-top: 5px


@media screen and ( max-width: 767px )
	.figure-news.big
		.figcaption
			padding: 20px

@media screen and ( max-width: 767px )
	.middle-fullwidth
		.pagination
			padding-bottom: 30px


	