.side-navigation-wrapper
	.title-wrapper
		h2 product
	ul.side-navigation
		li.open
			.title
				a(href="#") Engine parts
				em.lnr.lnr-chevron-down
			ul.nav-sub
				li
					a(href="#") Housing
				li
					a(href="#") Control housing
				li
					a(href="#") RR Cover
		li
			.title
				a(href="") Transmission part
				em.lnr.lnr-chevron-down
			ul.nav-sub
				li
					a(href="#") Housing
				li
					a(href="#") Control housing
				li
					a(href="#") RR Cover
		li
			.title
				a(href="#") Other items part
				em.lnr.lnr-chevron-down
			ul.nav-sub
				li
					a(href="#") Housing
				li
					a(href="#") Control housing
				li
					a(href="#") RR Cover