$main: #333333
$azure: #62a6d3
$grey-2: #ebebeb
$dove: #666666
html,body
	font-family: 'Saira', sans-serif
body
main
	padding-top: 110px
	@media screen and ( max-width: 1024px)
		padding-top: 60px
		
.center
	display: flex
	justify-content: center
	align-items: center
.flex-center
	display: flex
	align-items: center
	justify-content: center
.flex-end
	display: flex
	align-items: center
	justify-content: flex-end
.flex-start
	display: flex
	align-items: center
	justify-content: flex-start
.flex-space
	display: flex
	align-items: center
	justify-content: space-between
.head-title
	font-size: 1.875rem
	font-weight: 600
	text-transform: uppercase
	color: #333333
	padding-bottom: 1rem
	margin-bottom: 1rem
	@media screen and ( max-width: 1024px )
		font-size: 1.5rem
		