section.banner-about
    .container-custom
        .card-img
            .img
                img(src="./img/gioi-thieu/banner-about.png", alt="")

section.about
    .container-custom
        .container
            .row
                .col-lg-6
                    .card-title
                        h1 GIỚI THIỆU
                    .card-body
                        .content
                            p Được thành lập từ ngày 10 tháng 01 năm 2017, CÔNG TY MAKGIL VIỆT NAM ra đời với mục tiêu trở thành đơn vị dẫn đầu trong ngành thương mại công nghiệp, là cầu nối giao thương giữa các nhà sản xuất uy tín nước ngoài với các doanh nghiệp sản xuất và kinh doanh trong nước. Với kim chỉ nam "Kết nối để phát triển", MAKGIL VIỆT NAM đã, đang và sẽ không ngừng cố gắng để cung cấp những sản phẩm, dịch vụ trước và sau bán hàng tới toàn bộ khách hàng trên cả thị trường trong và ngoài nước.
                            p Trong suốt quá trình hình thành và phát triển, MAKGIL VIỆT NAM đã không ngừng lớn mạnh và phát triển, trở thành đại diện độc quyền, nhà phân phối ủy quyền của các hãng sản xuất lớn về thiết bị
                .col-lg-6
                    .card-img
                        .img 
                            img(src="./img/gioi-thieu/about-1.png", alt="")

section.about-2
    .container-custom
        .container
            .row
                .col-lg-6
                    .left
                        .card-title
                            p
                                em.material-icons domain
                            h2 TẦM NHÌN
                        .content
                            p Không ngừng lớn mạnh và phát triển, đưa các thương hiệu chất lượng & uy tín tới Quý Khách hàng. Bên cạnh đó, luôn cố gắng hết mình để cải thiện chất lượng dịch vụ bản thân, đáp ứng tối đa nhu cầu khách hàng
                .col-lg-6
                    .right
                        .card-title
                            p
                                em.material-icons business
                            h2 SỨ MỆNH
                        .content
                            p "Kết nối để phát triển"
                            p Không ngừng cố gắng để cung cấp những sản phẩm, dịch vụ trước và sau bán hàng tới toàn bộ khách hàng trên cả thị trường trong và ngoài nước.

section.about-3
    .container-custom
        .container
            .card_title
                h3 THƯƠNG HIỆU
            .nav-arrow-prev
                em.mdi.mdi-arrow-left
            .nav-arrow-next
                em.mdi.mdi-arrow-right
            .product-logo__slide
                .swiper-container.product-logo
                    .swiper-wrapper
                        -for(i=1; i<7; i++)
                            .swiper-slide
                                .img
                                    img(src="./img/gioi-thieu/about-logo-"+i+".png", alt="")
