// Banner-about
.banner-about
    .card-img
        .img
            height: 72vh
            img 
                width: 100%
                height: 100%
                object-fit: cover

// About
.about
    .card-title
        margin: 80px 0 0 0
        h1 
            font-size: 30px
    .card-body
        padding: 0
        .content 
            padding: 20px 0 0 0
            overflow: auto
            width: 100%
            height: 250px
            back
            padding-right: 30px
            p 
                text-align: justify
                color: #414141
    .card-img
        padding: 50px 0 0 0
        .img
            width: 100%
            img 
                width: 100%
                height: 450px
                object-fit: cover

@media ( max-width: 576px ) 
    .about
        .card-title
            margin: 20px 0 0 0
            h1 
                font-size: 20px
                font-weight: 600
        .card-body
            .content
                p 
                    font-size: 14px
        .card-img
            margin: -20px 0 0 0
            .img
                img 
                    width: 100%
                    height: 300px

.about-2
    background-image: url('../img/gioi-thieu/about-2.png')
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    margin: 40px 0 0 0
    width: 100%
    height: 432px
    .left
        width: 100%
        height: 350px
        border-right: 1px solid #989c9d
        margin: 35px 0 0 0
        padding: 100px 90px
        .card-title
            h2
                font-size: 20px
                color: #ffffff
        .content
            p 
                font-size: 16px
                text-align: justify
                color: #ffffff
    .right
        width: 100%
        height: 350px
        margin: 35px 0 0 0
        padding: 100px 90px
        .card-title
            h2 
                font-size: 20px
                color: #ffffff
        .content
            p 
                font-size: 16px
                text-align: justify
                color: #ffffff

@media (max-width: 992px)
    .about-2 
        .left
            width: 100%
            height: 180px
            border: none
            margin: 0
            padding: 65px 0 0 0
        .right
            width: 100%
            height: 180px
            margin: 0
            padding: 45px 0 0 0

@media (max-width: 1024px)
    .about-2 
        .left
            width: 100%
            height: 180px
            border: none
            margin: 0
            padding: 65px 0 0 0
        .right
            width: 100%
            height: 180px
            margin: 0
            padding: 45px 0 0 0

@media (max-width: 576px) 
    .about-2 
        .left
            width: 100%
            height: 180px
            border: none
            margin: 0
            padding: 55px 0 0 0
            .card-title
                h2 
                    font-size: 18px
            .content
                p 
                    font-size: 14px
        .right
            .card-title
                h2 
                    font-size: 18px
            .content
                p 
                    font-size: 14px




//section about-3
.about-3
    .card_title
        margin: 40px 0 40px 0
        h3 
            font-size: 30px
            color: #333333
    .product-logo__slide
        position: relative
        display: flex
        align-items: center
        justify-content: center
        .product-logo
            width: 100%
            .img
                border: 1px solid #e1e1e1
                object-fit: cover
                img 
                    width: 100%
                    height: 100%
        .swiper-button-prev
            border: 1px solid #62a6d3
            width: 40px
            height: 40px
            left: -80px
            
            &:hover
                background: #62a6d3
                color: #ffffff
                border: 1px solid #62a6d3
            
        .swiper-button-next
            border: 1px solid #62a6d3
            width: 40px
            right: -80px
            &:hover
                background: #62a6d3
                color: #ffffff
                border: 1px solid #62a6d3

@media ( max-width: 1200px )
    .about-3
        .product-logo__slide
            .swiper-button-prev
                width: 30px
                height: 30px
                left: -100px

@media ( max-width: 1024px )
    .about-3
        .product-logo__slide
            .swiper-button-prev
                width: 30px
                height: 30px
                left: -40px
            .swiper-button-next
                width: 30px
                height: 30px
                right: -10px

@media ( max-width: 992px )
    .about-3
        .card_title
            h3 
                font-size: 20px
                color: #333333
                font-weight: 700
        .product-logo__slide
            .swiper-button-next
                width: 30px
                height: 30px
                right: -40px

@media ( max-width: 576px )
    .about-3
        .product-logo__slide
            .swiper-button-prev
                width: 30px
                height: 30px
                left: -10px
            