section.product-display
	h2.head-title Thiết bị đo áp suất
	.row
		-for(i=0;i<15;i++)
			.col-12.col-sm-6.col-md-4.col-lg-3
				.figure-product
					.figure-image.zoom-in
						a(href="#")
							img(src="./img/product/2.png", alt="")
					.overlay-text
						.bottom-wrapper
							h2
								a(href="#")  Đồng hồ đo chênh áp ITEC Models 732.14, 762.14
							a(href="#").btn.btn-arrow
								em.mdi.mdi-arrow-right
					.figcaption
						h2 Đồng hô áp suất ITC Model 133
