extends _layout.pug

block var
	- var title = 'TRANG CHỦ'
	- var bodyClass = 'home-page'

block main
	include ../components/index/banner/index.pug
	include ../components/index/product-zone/index.pug
	include ../components/index/home-product/index.pug
	include ../components/index/brand/index.pug
	include ../components/index/news/index.pug
	
	