section.top-banner
	.container-custom
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					.wrapper
						a(href="#")
							img(src="./img/banner/1.jpg", alt="")
				.swiper-slide
					.wrapper
						a(href="#")
							img(src="./img/banner/3.jpg", alt="")
