section.banner-helper
    .container-custom
        .card-img
            .img
                img(src="./img/ho-tro-kh/banner-helper.png", alt="")


section.helper
    .container-custom
        .container
            .row
                .col-lg-3
                    .left
                        .card-title 
                            h3 SỰ KIỆN NỔI BẬT
                        .card-body
                            .content
                                a(href="") Câu hỏi thường gặp</br></br>
                                a(href="") Chính sách mua hàng
                .col-lg-9
                    .right 
                        .card-title 
                            h1 Câu hỏi thường gặp
                        .support-wrapper
                            .toggle-item
                                .title
                                    span 1. Makgil có hỗ trợ giao hàng ngoại thành không?
                                    em.lnr.lnr-chevron-down
                                .article
                                    .caption 
                                        p Trả lời: Có
                            .toggle-item
                                .title
                                    span 2. Makgil có thanh toán trực tuyến không?
                                    em.lnr.lnr-chevron-down
                                .article
                                    .caption 
                                        p Trả lời: Có
                            .toggle-item
                                .title
                                    span 3. Tôi có thể mua hàng của bạn qua những kênh nào?
                                    em.lnr.lnr-chevron-down
                                .article
                                    .caption 
                                        p Trả lời: Có
                            .toggle-item
                                .title
                                    span 4. Các sản phẩm có bảo hành không?
                                    em.lnr.lnr-chevron-down
                                .article
                                    .caption 
                                        p Trả lời: Có
                            .toggle-item
                                .title
                                    span 5. Makgil có bao nhiêu cửa hàng bán lẽ?
                                    em.lnr.lnr-chevron-down
                                .article
                                    .caption 
                                        p Trả lời: Có
                            .toggle-item
                                .title
                                    span 6. Tôi có thể kiểm tra hàng trước khi thanh toán không?
                                    em.lnr.lnr-chevron-down
                                .article
                                    .caption 
                                        p Trả lời: Có
                            .toggle-item
                                .title
                                    span 7. Makgil có hỗ trợ giao hàng ngoại thành không?
                                    em.lnr.lnr-chevron-down
                                .article
                                    .caption 
                                        p Trả lời: Có
                            .toggle-item
                                .title
                                    span 8. Makgil có thanh toán trực tuyến không?
                                    em.lnr.lnr-chevron-down
                                .article
                                    .caption 
                                        p Trả lời: Có
                            .toggle-item
                                .title
                                    span 9. Tôi có thể mua hàng của bạn qua những kênh nào?
                                    em.lnr.lnr-chevron-down
                                .article
                                    .caption 
                                        p Trả lời: Có
                            .toggle-item
                                .title
                                    span 10. Các sản phẩm có bảo hành không?
                                    em.lnr.lnr-chevron-down
                                .article
                                    .caption 
                                        p Trả lời: Có
                        .button
                                button 1
                                button 2
                                button 3