section.banner-helper
    .container-fuild
        .card-img
            .img
                img(src="./img/ho-tro-kh/banner-helper.png", alt="")


section.helper
    .container-custom
        .container
            .row
                .col-lg-3
                    .left
                        .card-title 
                            h3 SỰ KIỆN NỔI BẬT
                        .card-body
                            .content
                                a(href="") Câu hỏi thường gặp</br></br>
                                a(href="") Chính sách mua hàng
                .col-lg-9
                    .right 
                        .card-title 
                            h1 Câu hỏi thường gặp
                        .content
                            ul
                                li
                                    select
                                        option(selected='') 1. Makgil có hỗ trợ giao hàng ngoại thành không?
                                        option Trả lời: Có
                            ul 
                                li
                                    select
                                        option(selected='') 2. Makgil có thanh toán trực tuyến không?
                                        option Trả lời: Chúng tôi có thanh toán trực tuyến thông qua VISA, VNPAY, napas...
                            ul 
                                li
                                    select
                                        option(selected='') 3. Tôi có thế mua hàng qua những kênh nào?
                                        option Trả lời: Có
                            ul 
                                li
                                    select
                                        option(selected='') 4. Các sản phẩm có bảo hành không? 
                                        option Trả lời: Có
                            ul 
                                li 
                                    select
                                        option(selected='') 5. Makgil có bao nhiều hàng bán lẻ?
                                        option Trả lời: Có
                            ul 
                                li 
                                    select
                                        option(selected='') 6. Tôi có được kiểm tra hàng hóa trước khi thanh toán không?
                                        option Trả lời: Có
                            ul 
                                li 
                                    select
                                        option(selected='') 7. Makgil có hỗ trợ giao hàng ngoại thành không?
                                        option Trả lời: Có
                            ul 
                                li 
                                    select
                                        option(selected='') 8. Makgil có thanh toán trực tuyến không?
                                        option Trả lời: Có
                            ul 
                                li 
                                    select
                                        option(selected='') 9. Tôi có thế mua hàng qua những kênh nào?
                                        option Trả lời: Có
                            ul 
                                li 
                                    select
                                        option(selected='') 10. Các sản phẩm có bảo hành không?
                                        option Trả lời: Có