<?xml version="1.0" encoding="utf-8" ?>
<templates>
	<position>
		<add name="Home - Sản phẩm Nỗi bật" value="1" resourcefile="" />
		<add name="Sản phẩm đã xem" value="2" resourcefile="" />

	</position>

	<showoption name="Mới " value="1"  />
	<showoption name="Hết hàng" value="2"  />


	<templatelist xsltname="ProductListSale.xslt" name="Danh sách sản phẩm khuyến mãi" />

	<templatedetail xsltname="Cello-ProductDetail.xslt" name="Chi tiết sản phẩm" />
</templates>
