section.technical-news
    .container-custom
        .container
            .card-title
                h1 TƯ VẤN KỸ THUẬT
            .row
                .col-lg-6
                    .card-body
                        a(href="tin-tuc-chi-tiet.html")
                            .img 
                                img(src="./img/tin-tuc/news-1.png", alt="")
                            .content
                                span.fas.fa-map
                                time 11.05.2020
                                h2 Lắp đặt đồng hồ đo áp suất đúng cách
                                p Đồng hồ áp suất phải lắp đặt đúng cách để đảm bảo độ bền và độ chính xác của đồng hồ. Đồng hồ phải lắp đặt tại mội trường có sự tiếp xúc với nhiệt và rung...
                .col-lg-6
                    .row
                        .col-lg-6
                            a(href="tin-tuc-chi-tiet.html")
                                .new-img
                                    .img 
                                        img(src="./img/tin-tuc/news-2.png", alt="")
                                    .content
                                        span.fas.fa-map
                                        time 11.05.2020
                                        p Cách chọn đồng hồ đo áp suất phù hợp
                        .col-lg-6
                            a(href="tin-tuc-chi-tiet.html")
                                .new-img
                                    .img 
                                        img(src="./img/tin-tuc/news-3.png", alt="")
                                    .content
                                        span.fas.fa-map
                                        time 11.05.2020
                                        p Các loại van công nghiệp - Ứng dụng, ưu điểm và nhược điểm
                        .col-lg-6
                                a(href="tin-tuc-chi-tiet.html")
                                .new-img
                                    .img 
                                        img(src="./img/tin-tuc/news-4.png", alt="")
                                    .content
                                        span.fas.fa-map
                                        time 11.05.2020
                                        p Triễm lãm PETROVIETNAM 2019
                        .col-lg-6
                            a(href="tin-tuc-chi-tiet.html")
                                .new-img
                                    .img 
                                        img(src="./img/tin-tuc/news-5.png", alt="")
                                    .content
                                        span.fas.fa-map
                                        time 11.05.2020
                                        p Đồng hồ đo áp suất những điều cần biết khi lựa chọn đồng hồ áp suất