section.news-display
	.container-custom
		.container
			.head-title Tin tức
			.row
				.col-lg-6
					.figure-news.big
						.figure-image.shine
							a(href="tin-tuc-chi-tiet.html")
								img(src="./img/tin-tuc/news-1.png", alt="")
						.figcaption
							time
								em.mdi.mdi-clock-outline
								span 11.05.2012
							h2
								a(href="tin-tuc-chi-tiet.html") Lắp đặt thi công đo áp suất đúng cách

							.caption Đồng hồ áp suất phải được lắp đặt đúng cách để đảm bảo độ bền và độ chính xác của đồng hồ. Đồng hồ phải được lắp đặt tại môi trường có sự tiếp xúc với nhiệt và rung... 

				.col-lg-6
					.row
						.col-12.col-md-6
							.figure-news
								.figure-image.opacity
									a(href="tin-tuc-chi-tiet.html")
										img(src="./img/tin-tuc/news-2.png", alt="")
								.figcaption
									time
										em.mdi.mdi-clock-outline
										span 11.05.2012
									h2
										a(href="tin-tuc-chi-tiet.html") Cách chọn đồng hồ đo áp suất phù hợp
						.col-12.col-md-6
							.figure-news
								.figure-image.opacity
									a(href="tin-tuc-chi-tiet.html")
										img(src="./img/tin-tuc/news-3.png", alt="")
								.figcaption
									time
										em.mdi.mdi-clock-outline
										span 11.05.2012
									h2
										a(href="tin-tuc-chi-tiet.html") Các loại van công nghiệp - Ứng dụng, ưu điểm và nhược điểm
						.col-12.col-md-6
							.figure-news
								.figure-image.opacity
									a(href="tin-tuc-chi-tiet.html")
										img(src="./img/tin-tuc/news-4.png", alt="")
								.figcaption
									time
										em.mdi.mdi-clock-outline
										span 11.05.2012
									h2
										a(href="tin-tuc-chi-tiet.html") Triễm lãm PETROVIETNAM 2019
						.col-12.col-md-6
							.figure-news
								.figure-image.opacity
									a(href="tin-tuc-chi-tiet.html")
										img(src="./img/tin-tuc/news-5.png", alt="")
								.figcaption
									time
										em.mdi.mdi-clock-outline
										span 11.05.2012
									h2
										a(href="tin-tuc-chi-tiet.html") Đồng hồ đo áp suất những điều cần biết khi lựa chọn đồng hồ áp suất