<?xml version="1.0" encoding="utf-8" ?>
<settings>

    <!--value bắt buộc phải là giá trị binary. Ví dụ: 1; 2; 4; 8; 16;...-->
    <position>
      <add name="Header - Main Menu" value="1" resourcefile="" />
      <add name="Home - Product Zone" value="2" resourcefile="" />
      <add name="Footer 1" value="4" resourcefile="" />
      <add name="Footer 2" value="8" resourcefile="" />
      <add name="Product Zone " value="16" resourcefile="" />
    </position>

</settings>