section.home-product-zone
	.container-custom
		.container
			.nav-arrow-prev
				em.mdi.mdi-arrow-left
			.nav-arrow-next
				em.mdi.mdi-arrow-right
			.swiper-container
				.swiper-wrapper
					-for(i=0;i<15;i++)
						.swiper-slide
							.figure-product-zone
								.figure-image.zoom-in
									a(href="#")
										img(src="./img/product/1.png", alt="")
								.figcaption
									h2
										a(href="#") Thiết bị đo lường
					