<?xml version="1.0" encoding="utf-8" ?>
<templates>
  <position>
	<add name="Sản phẩm liên quan - giỏ hàng" value="1" resourcefile="" />
    <add name="Sản phẩm đã xem" value="2" resourcefile="" />
    <add name="Sản phẩm trang chủ - bán chạy" value="4" resourcefile="" />
    <add name="Khuyến mãi - Âm thanh" value="8" resourcefile="" />
    <add name="Khuyến mãi - Tai nghe" value="16" resourcefile="" />
    <add name="Khuyến mãi - Thiết bị đeo tay" value="32" resourcefile="" />
    <add name="Khuyến mãi - Camera" value="64" resourcefile="" />
    <add name="Khuyến mãi - Phụ kiện" value="128" resourcefile="" />
    <add name="Thương hiệu" value="256" resourcefile="" />
    <add name="Sản phẩm mới" value="512" resourcefile="" />
    <add name="Sản phẩm nổi bật" value="1024" resourcefile="" />
    <add name="Sản phẩm bán chạy" value="2048" resourcefile="" />
    <add name="Trang chủ - Sản phẩm Âm thanh" value="4096" resourcefile="" />
  </position>

  <showoption name="Vẫn mua hàng được khi hết hàng" value="1"  />
  <showoption name="Hết hàng" value="2"  />
  <showoption name="New" value="4" class="status stt-1" />
  <showoption name="Sắp có hàng" value="8" class="status stt-2" />
  <showoption name="Like new" value="16" class="status stt-3" />
  <showoption name="Hàng 99%" value="32" class="status stt-4" />
  <showoption name="Hàng Demo" value="64" class="status stt-5" />

  <showoption name="Sale cực sốc" value="128" class="sale sl-1" />
  <showoption name="Loa di động" value="256" class="sale sl-2" />
  <showoption name="Bán chạy" value="512" class="sale sl-3" />

  <showoption name="Preorder" value="1024" class="status stt-6" />

  <templatelist xsltname="Cello-ProductList.xslt" name="Danh sách sản phẩm" />
  <templatelist xsltname="ProductListSale.xslt" name="Danh sách sản phẩm khuyến mãi" />

  <templatedetail xsltname="Cello-ProductDetail.xslt" name="Chi tiết sản phẩm" />
</templates>
