section.banner-news
    .container-custom
        .card-img
            .img
                img(src="./img/tin-tuc/banner-news.png", alt="")

section.technical-news
    .container-custom
        .container
            .card-title
                h1 TƯ VẤN KỸ THUẬT
            .row
                .col-lg-6
                    .card-body
                        a(href="tin-tuc-chi-tiet.html")
                            .img.shine 
                                img(src="./img/tin-tuc/news-1.png", alt="")
                            .content
                                em.mdi.mdi-clock-outline
                                time 11.05.2020
                                h2 Lắp đặt đồng hồ đo áp suất đúng cách
                                p Đồng hồ áp suất phải lắp đặt đúng cách để đảm bảo độ bền và độ chính xác của đồng hồ. Đồng hồ phải lắp đặt tại mội trường có sự tiếp xúc với nhiệt và rung...
                .col-lg-6
                    .row
                        .col-lg-6
                            a(href="tin-tuc-chi-tiet.html")
                                .new-img
                                    .img.opacity 
                                        img(src="./img/tin-tuc/news-2.png", alt="")
                                    .content
                                        em.mdi.mdi-clock-outline
                                        time 11.05.2020
                                        p Cách chọn đồng hồ đo áp suất phù hợp
                        .col-lg-6
                            a(href="tin-tuc-chi-tiet.html")
                                .new-img
                                    .img.opacity 
                                        img(src="./img/tin-tuc/news-3.png", alt="")
                                    .content
                                        em.mdi.mdi-clock-outline
                                        time 11.05.2020
                                        p Các loại van công nghiệp - Ứng dụng, ưu điểm và nhược điểm
                        .col-lg-6
                             a(href="tin-tuc-chi-tiet.html")
                                .new-img
                                    .img.opacity 
                                        img(src="./img/tin-tuc/news-4.png", alt="")
                                    .content
                                        em.mdi.mdi-clock-outline
                                        time 11.05.2020
                                        p Triễm lãm PETROVIETNAM 2019
                        .col-lg-6
                            a(href="tin-tuc-chi-tiet.html")
                                .new-img
                                    .img.opacity 
                                        img(src="./img/tin-tuc/news-5.png", alt="")
                                    .content
                                        em.mdi.mdi-clock-outline
                                        time 11.05.2020
                                        p Đồng hồ đo áp suất những điều cần biết khi lựa chọn đồng hồ áp suất
section.news
    .container-custom
        .container
            .row
                .col-lg-3
                    a(href="tin-tuc-chi-tiet.html")
                        .new-img
                            .img.opacity 
                                img(src="./img/tin-tuc/news-6.png", alt="")
                            .content
                                em.mdi.mdi-clock-outline
                                time 11.05.2020
                                p Magnehelic, Capsuhelic, Photohelic ứng dụng trong việc đo và điều khiển áp
                .col-lg-3
                    a(href="tin-tuc-chi-tiet.html")
                        .new-img
                            .img.opacity 
                                img(src="./img/tin-tuc/news-7.png", alt="")
                            .content
                                em.mdi.mdi-clock-outline
                                time 11.05.2020
                                p Bản quy đổi các đơn vị đo áp suất
                .col-lg-3
                    a(href="tin-tuc-chi-tiet.html")
                        .new-img
                            .img.opacity 
                                img(src="./img/tin-tuc/news-8.png", alt="")
                            .content
                                em.mdi.mdi-clock-outline
                                time 11.05.2020
                                p Phan Thiết (Bình Thuận): Trên 200 cơ sở sản xuất, kinh doanh tập huấn và
                .col-lg-3
                    a(href="tin-tuc-chi-tiet.html")
                        .new-img
                            .img.opacity 
                                img(src="./img/tin-tuc/news-9.png", alt="")
                            .content
                                em.mdi.mdi-clock-outline
                                time 11.05.2020
                                p Enzym từ nấm có thể xử lý các chất ô nhiễm trong pin nhiên liệu
                .col-lg-3
                    a(href="tin-tuc-chi-tiet.html")
                        .new-img
                            .img.opacity 
                                img(src="./img/tin-tuc/news-10.png", alt="")
                            .content
                                em.mdi.mdi-clock-outline
                                time 11.05.2020
                                p Khớp nối xoay là gì?
                .col-lg-3
                    a(href="tin-tuc-chi-tiet.html")
                        .new-img
                            .img.opacity 
                                img(src="./img/tin-tuc/news-11.png", alt="")
                            .content
                                em.mdi.mdi-clock-outline
                                time 11.05.2020
                                p Series ISDP Intrinsically Safe Differential Pressure Transmitter
                .col-lg-3
                    a(href="tin-tuc-chi-tiet.html")
                        .new-img
                            .img.opacity 
                                img(src="./img/tin-tuc/news-12.png", alt="")
                            .content
                                em.mdi.mdi-clock-outline
                                time 11.05.2020
                                p Đồng Hồ Đo Áp Suất gồm những loại nào (nên đọc trước khi mua hàng)
                .col-lg-3
                    a(href="tin-tuc-chi-tiet.html")
                        .new-img
                            .img.opacity 
                                img(src="./img/tin-tuc/news-13.png", alt="")
                            .content
                                em.mdi.mdi-clock-outline
                                time 11.05.2020
                                p Tìm hiểu các loại van công nghiệp trong đường ống
                .col-lg-4
                .col-lg-4
                    .button
                            button 1
                            button 2
                            button 3 